/* css for index page */
h1 {
  color: black;
  font-family: 'League Script', cursive;
  text-align: center;
  font-size: 100px;
}


.title-image {
  max-width: 592px;
  max-height: 768px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.desc{
    background-color: #000;
    color: #fff;
    opacity: 0.5;
    position: relative;
    width: 592px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
border-left: 10px solid #236B8E;
border-radius: 0px;
background-image: url(http://images.photowall.com/products/51413/icelandic-mountains.jpg?h=650&q=90&);
font-size: 33px;
color: white;
margin: 10px;
padding: 10px 20px;
}

blockquote p {
margin: 0;
line-height: 30px;
padding-bottom: 90px;
font-size: 18px;
}

blockquote .small {
display: block;
font-size: 80%;
text-align: right;
color: white;
}
